@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

li, a, button, .logo {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}
.logo {
  transition: all 0.3s ease 0s;
}
.logo:hover {
  cursor: pointer;
  color: #0088a9;
}
.logo-link:hover {
  transition: all 0.3s ease 0s;
  cursor: pointer;
  color: #0088a9;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}
.active-navbar-link {
  font-weight: bold;
  border-bottom: 2px solid #fff; /* Highlight style */
  color:#0088a9;
}
.nav-links li {
  display: inline-block;
  padding: 0px 20px;
}
.nav-links li a {
  transition: all 0.3s ease 0s;
}
.nav-links li a:hover {
  color: #0088a9;
}

button {
  padding: 9px 25px;
  background-color: rgba(0, 136, 169, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.button:hover {
  background-color: rgba(0, 136, 169, 0.8);
  transform: translateY(-2px);
}

.sign-in-btn {
  padding: 9px 25px;
  background-color: rgba(0, 136, 169, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.sign-in-btn:hover {
  background-color: rgba(2, 119, 148, 0.8);
  transform: translateY(-2px);
}
.cta {
  color: #edf0f1;
  text-decoration: none;
}
/* NavBar styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 93%;
  padding: 10px 20px;
  z-index: 1000;
  margin-left:40px;
}

